:root {
    font-family: "Roboto", sans-serif;
    line-height: 1;
    font-weight: 300;
      
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}


body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    /* font-style: italic ; */
    text-align: left;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: inherit;
}
main{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    max-width: 100vw;
    width: 100%;
    /* overflow: hidden; */
}


section {
    position: relative;
}

#hero {
    /* max-width: 1280px; */
    width: 100dvw;
    height: 100vh;
    background-image: url(/img/home.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #e8fda2;
}

#quem {
    display: flex;
    justify-content: center;
    background: linear-gradient(#313131, #121212);
}

#quem::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: calc(-4dvw + 5px);
    border: solid transparent;
    border-width: 0 0 4dvw 100dvw;
    border-bottom-color: #313131;
}
#quem::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: calc(-4dvw + 5px);
    border: solid transparent;
    border-width: 4dvw 100vw 0 0;
    border-top-color: #121212;
    z-index: 1;
}

#break_section {
    width: 100vw;
    height: 60dvh;
    /* display: inline-flex; */
    overflow: hidden;
    background-color: #96c600;
}

#break_shadow {
    width: 100vw;
    height: 200px;
    position: absolute;
    bottom: 0;
    background-image: url(/img/break/dither.png);
}

#breakWrap {
    max-width: 1800px;
    min-height: 50dvh;
    max-height: 100dvh;
    height: 100%;
    position: relative;
    margin-inline: auto;
    /* display: flex;
    justify-content: center;
    background-color: #e3f6ab; */
}
#breakWrap>div {
    position: absolute;
    width: 25%;
    height: fit-content;
    display: flex;
    overflow: visible !important;
    justify-content: center;
    bottom: 5%;
}

/* #breakWrap>div {
    top: 75%;
} */

#breakWrap div:nth-child(1){right: 25%;}
#breakWrap div:nth-child(2){right: 50%;}
#breakWrap div:nth-child(3){right: 0%;}
#breakWrap div:nth-child(4){right: 75%;}

#dstqs{
    width: 100%;
    background: linear-gradient(#9bcc00, #556d07);
}

#dstqs>*{
    padding-block: 20px;
}

#dstqs_wrap {
    width: 100%;
    max-width: 1800px;
    margin-inline: auto;
}

#dstqs_title {
    display: flex;
    justify-content: center;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;    text-align: center;
    font-size: 2em;
    font-weight: 400;
}

#dstqs_grid {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

#dstqs_grid>div{
    width: 25%;
}

#spline {
    display: block;
    max-width: 300px;
}

#spline {
    display: block;
    max-width: 100%;
    height: auto !important;
}


#dstqs_js_2 #spline {
    max-width: 10% !important;
    overflow: auto;
}

canvas {
    /* background-color: aqua; */
    max-width: 100%;
    height: auto !important;
    aspect-ratio: 1/1;
    margin: 0;
    padding: 0;
    
}

#blank {
    height: 500dvh;
}