:root {
    /* --Paleta-- */
    --dark: 76, 97%, 11%;
    --shade: 76, 62%, 41%;
    --dull: 76, 82%, 46%;
    --pop: 76, 91%, 50%;
    --clear: 76, 100%, 70%;
    --bright: 76, 78%, 81%;

    /* --Medidas-- */
    --largura: 1800px;
    --margem: 5%;
    

    /* font-family: "Roboto", sans-serif;
    font-weight: 300; */
    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}


body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    /* line-height: normal; */
    /* font-style: italic ; */
    text-align: left;
    font-size: clamp(1.25rem, 1.01vw + 0.989rem, 2.125rem);
    line-height: clamp(1.875rem, 1.025vw + 1.61rem, 2.763rem);
}

.margem {
    width: 100%;
    max-width: var(--margem);
    height: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}
main{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    padding: 0;
    max-width: 100vw;
    width: 100%;
    /* overflow: hidden; */
}


section {
    position: relative;
    width: 100dvw;
    height: 100dvh;
}


canvas {
    /* background-color: aqua; */
    max-width: 100%;
    height: auto !important;
    aspect-ratio: 1/1;
    margin: 0;
    padding: 0;
    
}

.alinha_flex {
    max-width: var(--largura);
    width: 100%;
    margin-inline: auto;
    display: inline-flex;
}

h2 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* font-size: 8.5rem; */
    font-size: clamp(3.75rem, 6.494vw + 2.07rem, 9.375rem);
    text-transform: uppercase;
    /* line-height: normal; */
    line-height: clamp(5.625rem, 7.576vw + 3.665rem, 12.188rem);
}

h2::first-letter{
    font-size: 1.15em;
}

#intro {
    min-height: 100dvh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: hsl( var(--pop));
    background: radial-gradient(circle, #0000, #0003) hsl( var(--dark));
    background-size: cover;
}

#intro>div{
    flex: 0;
}

#intro_title {
    max-height: 25dvh;
    height: 100dvh;
}

#repro img {
    height: 100vh;
    max-height: 10dvh;
    max-width: 80dvw;
    margin-block: 2.5dvh;
    margin-right: auto;
}

#intro_main {
    width: auto;
    max-width: var(--largura);
    flex: auto;
}

#intro_main p{
    width: 75%;
    text-align: justify;
}

#intro div:has( button ) {
    width: 100%;
    max-width: var(--largura);
    margin-inline: auto;
    padding-inline: var(--margem);
    text-align: right;
}

#intro button {
    /* float: right; */
    text-align: right;
    font-family: "Anton", sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
    padding: 0.5rem 4rem;

}

#intro_break {
    max-width: 100dvw;
    width: 100dvw;
    min-height: 15dvh;
    margin: 0;
    display: block;
    background-image: url('/img/intro_break.min.svg');
    background-size: 100% 100%;
    background-position: center;
}

#intro_rato {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#creative{
    background: hsl( var(--pop));
}