:root {
    /* --Paleta-- */
    --dark: 76, 97%, 11%;
    --shade: 76, 62%, 41%;
    --dull: 76, 82%, 46%;
    --pop: 76, 91%, 50%;
    --washed: 76, 100%, 70%;
    --bright: 76, 78%, 81%;

    /* --Medidas-- */
    --largura: calc(1800px * 0.9);
    --margem: 5%;
    

    /* font-family: "Roboto", sans-serif;
    font-weight: 300; */
    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    font-size: clamp(1.25rem, 1.01vw + 0.989rem, 2.125rem);
}


body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-align: left;
    line-height:normal;
}

main{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    max-width: 100vw;
    width: 100%;
    /* overflow: hidden; */
}

h2, h3, #break {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 3.5rem;
    line-height:normal;
}

h2::first-letter, h3::first-letter{
    font-size: 1.15em;
}

a{
    text-decoration: none;
    color: inherit;
}

p {
    padding-block: 1.5em;
}

section {
    width: 100dvw;
    height: auto;
    min-height: 100%;
    padding-block: 10dvh;
}

.margem {
    position: relative;
    width: 100%;
    max-width: var(--margem);
    height: 100%;
}
@media screen and (max-width: 600px) {.margem{display: none;}}
@media screen and (max-width: 600px) {section>*{padding-inline: 5dvw;}}

.alinha_flex {
    max-width: var(--largura);
    width: 100%;
    margin-inline: auto;
    display: flex;
    align-items: center;
}

.flex_vert{
    flex-direction: column;
}

#intro {
    min-height: 100dvh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 0;
    color: hsl( var(--pop));
    background: radial-gradient(circle, #0000, #0003) hsl( var(--dark));
    background-size: cover;
}
@media screen and (max-width: 600px) {#intro {height: 100dvh; overflow-y: auto;}}

#intro p{padding-block: 0;}
#intro>div{flex: 0;}

#intro_title {
    max-height: 25dvh;
    height: 100dvh;
}

#repro img {
    height: 100vh;
    max-height: 10dvh;
    max-width: 80dvw;
    margin-block: 2.5dvh;
    margin-right: auto;
}

#intro_main {
    width: auto;
    max-width: var(--largura);
    flex: auto;
}

#intro_main p{
    width: 75%;
    text-align: justify;
}
@media screen and (max-width: 600px) {#intro_main p{width: auto;}}

#intro_cta {
    width: 100%;
    max-width: var(--largura);
    margin-inline: auto;
    padding-inline: var(--margem);
    text-align: right;
}
@media screen and (max-width: 600px) {#intro_cta{text-align: center;}}
@media screen and (max-width: 600px) {#intro_cta button{font-size: 2em; margin-top: 4dvh;}}

.intro_cta {
    text-align: right;
    font-family: "Anton", sans-serif;
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 0 0.75em;
    margin-inline: 0.2em;
    border-radius: 10px;
    border: solid red 6px;
    transition-property: transform, box-shadow;
    transition-duration: 500ms;
    
}

#intro_cta{padding-bottom: 15dvh;}
@media screen and (max-width: 600px) {#intro_cta{padding-bottom: 20dvh;}}


.intro_cta:hover {
    transform: translateX(-10px) translateY(-10px);
}

#cta_destqs {
    background-color: hsl( var(--bright));
    border-color: hsl( var(--shade));
}

#cta_destqs:hover {
    border-color: hsl( var(--shade));
    box-shadow:
    hsl( var(--shade)) 9px 9px,
    hsl( var(--shade)) 5px 5px,
    hsl( var(--shade)) 1px 1px;
}

#cta_ctt {
    background-color: hsl( var(--dark));
    color: hsl( var(--pop));
    border-color: hsl( var(--shade));
}

#cta_ctt:hover {
    border-color: hsl( var(--shade));
    box-shadow:
    hsl( var(--shade)) 9px 9px,
    hsl( var(--shade)) 5px 5px,
    hsl( var(--shade)) 1px 1px;
}


#intro_break {
    max-width: 100dvw;
    width: 100dvw;
    min-height: 15dvh;
    position: absolute;
    bottom: 0;
    margin: 0;
    display: block;
    background-image: url('/img/break_intro.svg');
    background-size: 100% 100%;
    background-position: center;
}


#intro_rato {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#creative{
    background: linear-gradient(
        hsl(var(--pop)) 0%,
        hsl(var(--washed)) 20%,
        hsl(var(--washed)) 80%,
        hsl(var(--pop))) 100%
        hsl( var(--pop));
        color: hsl( var(--dark));
}

#cr_wrap {flex-wrap: wrap;}
#cr_txt {flex: 2;}
#cr_3d {flex: 1;}

#cr_3d lottie-player {
    min-width: 30dvw;
    height: auto !important;
    aspect-ratio: 1/1;
    margin: 0;
    padding: 0;    
}

/* @media screen and (max-width: 600px) {#cr_3d{display: none;}} */

#break {
    padding-block: 0;
    height: 110dvh;
    color: hsl( var(--pop));
    background-image: url(/img/maos.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

#break_section {
    height: 100%;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
}

#break_top, #break_bottom {
    max-width: 100dvw;
    width: 100dvw;
    min-height: 15dvh;
    margin: 0;
    display: block;
    background-image: url('/img/break_top.svg');
    background-size: 100% 100%;
    background-position: center;
}

#break h3 {
    font-size: 0.5em;
    line-height: 140%;
    position: relative;
    bottom: 0;
}

#break_bottom {
    position: relative;
    background-image: url('/img/break_bottom.svg');
    bottom: 0px;
    
}

#destaques {
    color: hsl( var(--dark));
    background-color: hsl(var(--washed));
}

#dest_tittle{
    flex-direction: column;
    align-items: flex-end;
}

#dest_tittle p {
    width: 85%;
    text-align: right;
}

#dest_wrap {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.dest {
    position: relative;
    min-width: calc( var(--largura) * 0.2);
    width: 30%;
    max-width: 80dvw;
    height: 40dvh;
    margin: 2% 1%;
    padding: 0.75em;
    overflow: hidden;
    border: hsl( var(--dark)) solid 2px;
    border-radius: 30px;
}

.dest>h3{
    font-size: 1.2em;
    line-height: normal;
    text-align: right;
    position: relative;
}

.dest>h3::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -0.75em;
    display: inline-block;
    width: 80%;
    border-bottom: hsl( var(--dark)) solid 2px;
    margin: 0;
    padding: 0;
}

.dest::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5em;
    bottom: 0;
    right: 0;
    background: linear-gradient( hsl( var(--washed), 0%), hsl( var(--washed) ) );
}

#break_gal {
    max-width: 100dvw;
    width: 100dvw;
    min-height: 15dvh;
    margin: 0;
    display: block;
    background-image: url('/img/break_gal.svg');
    background-size: 100% 100%;
    background-position: center;
}

#proj_gal{
    padding-block: 0;
    background: hsl( var(--dark));
    color: hsl( var(--pop));
}

#proj_gal_tittle {
    padding-top: 10dvh;
    align-items:flex-start;
}


#proj_gal_wrap {
    height: calc(var(--margem) * 0.75);
    aspect-ratio: 1/1;
    border: hsl( var(--pop)) solid 2px;
    border-radius: 20px;
    background-image: url(/img/gal_holder.jpg);
    margin-bottom: 10dvh;
}

#break_gal_bottom {
    max-width: 100dvw;
    width: 100dvw;
    min-height: 15dvh;
    margin: 0;
    display: block;
    position: relative;
    bottom: 0;
    background-image: url('/img/break_gal_bottom.svg');
    background-size: 100% 100%;
    background-position: center;
}

#contato{
    padding-block: 0;
    background: hsl( var(--dull));
    color: hsl( var(--dark));
}