:root {
  /* --Paleta-- */
  --dark: 76, 97%, 11%;
  --shade: 76, 62%, 41%;
  --dull: 76, 82%, 46%;
  --pop: 76, 91%, 50%;
  --washed: 76, 100%, 70%;
  --bright: 76, 78%, 81%;

  /* --Medidas-- */
  --largura: calc(1800px * 0.9);
  --margem: 5%;

  /* font-family: "Roboto", sans-serif;
    font-weight: 300; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  interpolate-size: allow-keywords;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: clamp(1.125rem, 0.433vw + 1.013rem, 1.5rem);
  line-height: clamp(1.688rem, 0.303vw + 1.609rem, 1.95rem);
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: left;
  line-height: normal;
  scroll-behavior: smooth;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  max-width: 100dvw;
  width: 100%;
  /* overflow: hidden; */
}

h2,
h3 {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: normal;
}

h2::first-letter,
h3::first-letter {
  font-size: 1.15em;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  padding-block: 1.5em;
}

section {
  min-height: 100%;
  padding-block: 10vh;
}

.margem {
  position: relative;
  width: 100%;
  max-width: var(--margem);
  height: 100%;
}

@media screen and (max-width: 600px) {
  .margem {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  section > * {
    padding-inline: 5dvw;
  }
}

.alinha_flex {
  max-width: var(--largura);
  width: 100%;
  margin-inline: auto;
  display: flex;
  align-items: center;
}

.flex_vert {
  flex-direction: column;
}

.break {
  max-width: 100dvw;
  min-height: 15vh;
  position: relative;
  margin: 0;
  display: block;
  background-size: 100% 100%;
  background-position: center;
}

#intro {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 0;
  color: hsl(var(--pop));
  background: radial-gradient(circle, hsl(var(--dark), 0.75), #000e),
    url("/img/intro/impressao.png");
  background-size: cover;
}

#intro p {
  padding-block: 0;
}

#intro > div {
  flex: 0;
}

#intro_title {
  max-height: 25vh;
  height: 100vh;
}

#repro img {
  height: 100vh;
  max-height: 10vh;
  max-width: 80dvw;
  margin-block: 2.5vh;
  margin-right: auto;
}

#intro_main {
  width: auto;
  max-width: var(--largura);
  flex: auto;
}

#intro_main p {
  width: 75%;
  text-align: justify;
}

@media screen and (max-width: 600px) {
  #intro_main p {
    width: auto;
  }
}

#intro_cta {
  width: 100%;
  max-width: var(--largura);
  margin-inline: auto;
  padding-inline: var(--margem);
  text-align: right;
}

@media screen and (max-width: 600px) {
  #intro_cta button {
    font-size: 2em;
    margin-top: 4vh;
  }
}

.intro_cta {
  text-align: right;
  font-family: "Anton", sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 0 0.75em;
  margin-inline: 0.2em;
  border-radius: 10px;
  border: solid red 6px;
  transition-property: transform, box-shadow;
  transition-duration: 500ms;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  #intro_cta {
    padding-bottom: 5vh;
    text-align: center;
  }
}

.intro_cta:hover {
  transform: translateX(-10px) translateY(-10px);
}

#cta_destqs {
  background-color: hsl(var(--bright));
  border-color: hsl(var(--shade));
}

#cta_destqs:hover {
  border-color: hsl(var(--shade));
  box-shadow: hsl(var(--shade)) 9px 9px, hsl(var(--shade)) 5px 5px,
    hsl(var(--shade)) 1px 1px;
}

#cta_ctt {
  background-color: hsl(var(--dark));
  color: hsl(var(--pop));
  border-color: hsl(var(--shade));
}

#cta_ctt:hover {
  border-color: hsl(var(--shade));
  box-shadow: hsl(var(--shade)) 9px 9px, hsl(var(--shade)) 5px 5px,
    hsl(var(--shade)) 1px 1px;
}

#intro_break {
  width: 100%;
  position: sticky;
  bottom: 0;
  transform: translateY(1px);
  background-image: url("/img/break_intro.svg");
  background-repeat: no-repeat;
}

#intro_rato {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100px;
}

#creative {
  background: linear-gradient(
      hsl(var(--pop)) 0%,
      hsl(var(--washed)) 20%,
      hsl(var(--washed)) 80%,
      hsl(var(--pop))
    )
    100% hsl(var(--pop));
  color: hsl(var(--dark));
}

#cr_wrap {
  flex-wrap: wrap;
}

#cr_txt {
  flex: 2;
}

#cr_lottie {
  flex: 1;
}

#cr_lottie lottie-player {
  min-width: 30dvw;
  height: auto !important;
  aspect-ratio: 1/1;
  margin: 0;
  padding: 0;
}

/* @media screen and (max-width: 600px) {#cr_3d{display: none;}} */

#maos {
  padding-block: 0;
  height: 110vh;
  color: hsl(var(--pop));
  background-image: url(/img/maos.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

#maos_section {
  height: 100%;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
}

#maos h3 {
  line-height: 140%;
  position: relative;
  bottom: 0;
}

#maos_break_top {
  top: 0;
  background-image: url("/img/break_top.svg");
}

#maos_break_bottom {
  bottom: 0px;
  background-image: url("/img/break_bottom.svg");
}

#destaques {
  color: hsl(var(--dark));
  background-color: hsl(var(--washed));
}

#dest_tittle {
  flex-direction: column;
  align-items: flex-end;
}

#dest_tittle > * {
  display: flex;
  justify-content: flex-end;
}

#dest_tittle h2 {
  width: 100%;
  text-align: right;
}

#dest_tittle p {
  width: 85%;
  text-align: right;
}

#dest_wrap {
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.dest {
  position: relative;
  /* min-width: calc( var(--largura) * 0.2); */
  width: 30%;
  max-width: 80dvw;
  height: 40vh;
  margin: 2% 1%;
  padding: 0.25rem 0.75rem;
  overflow: hidden;
  border: hsl(var(--dark)) solid 2px;
  border-radius: 30px;
  transition: all 0.75s;
  list-style-type: none;
}

#dest_blank {
  position: relative;
  /* min-width: calc( var(--largura) * 0.2); */
  width: 30%;
  max-width: 80dvw;
  height: 40vh;
  margin: 2% 1%;
  list-style-type: none;
}

.dest:hover {
  height: 50vh;
  box-shadow: hsl(var(--dark)) 10px 10px;
  border-width: 5px;
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  .dest {
    width: 35%;
  }

  #dest_blank {
    display: none;
  }
}

.dest_item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.dest_item > * {
    flex-basis: content;
}
.dest h3,
.destSwipe h3 {
  font-size: 1.2em;
  line-height: normal;
  text-align: right;
  position: relative;
}

.dest h3::after,
.destSwipe h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -0.75em;
  display: inline-block;
  width: 80%;
  border-bottom: hsl(var(--dark)) solid 3px;
  margin: 0;
  padding: 0;
}

.lottie_wrapper {
  height: 50%;
  /* max-height: 50%; */
  padding: 0%;
}
.dest.active .lottie_wrapper {
  max-height: 50%;
}

.dest_item p,
.destSwipe p {
  max-height: 0%;
  overflow: hidden;
  transition: all;
  transition-duration: 1.5s;
  padding-block: 0;
  margin-block: 0;
}
#destScroll .active {
  height: 80vh;
  max-width: calc(var(--largura) / 0.7);
  box-shadow: hsl(var(--dark)) 10px 10px;
  border-width: 5px;
  transition-duration: 2s;
}
#destScroll .active p,
.destSwipe p {
  display: block;
  max-height: fit-content;
  height: fit-content;
  padding-bottom: 10px;
}
.dest_mais {
  width: 70%;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  text-align: center;
  padding: 0 0.75em;
  margin-inline: auto;
  border-top: solid hsl(var(--dark)) 3px;
}

#destScroll .dest_mais a{
  vertical-align: bottom;
}

#destScroll .active .dest_mais span, #destScroll .dest_mais a{
  height: 0;
  overflow: hidden;
  transition: all 0.75s;
}

#destScroll .active .dest_mais a, #destScroll .dest_mais span{
  height: fit-content;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  #scrolling {
    height: 90vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    padding: 0;
  }
  #scrolling ul {
    -webkit-user-select: none;
    user-select: none;
    height: 90%;
    margin: 3% 0 0;
    padding: 0;
    list-style-type: none;
    transform-style: preserve-3d;
  }
  #scrolling ul li {
    height: 100%;
    min-width: 86vw;
    float: left;
    cursor: pointer;
    transform: scale(0.95);
    padding: 0.75em;
    border: hsl(var(--dark)) solid 2px;
    border-radius: 30px;
    list-style-type: none;
  }
  #scrolling ul .itemslide-active {
    transform: scale(1);
  }

  .dest_item span {
    display: none;
  }
  .dest_item a {
    font-size: 1.5rem;
    font-weight: 700;
  }

}
#break_gal {
  background-image: url("/img/break_gal.svg");
}

#proj_gal {
  padding-block: 0;
  background: hsl(var(--dark));
  color: hsl(var(--pop));
}

#proj_gal_tittle {
  padding-top: 10vh;
  align-items: flex-start;
}

#proj_gal_wrap {
  height: calc(var(--margem) * 0.75);
  aspect-ratio: 1/1;
  border: hsl(var(--pop)) solid 2px;
  border-radius: 20px;
  background-image: url(/img/gal_holder.jpg);
  margin-bottom: 10vh;
}

#break_gal_bottom {
  bottom: 0;
  background-image: url("/img/break_gal_bottom.svg");
}

#contato {
  padding-block: 0;
  background: hsl(var(--dull));
  color: hsl(var(--dark));
}
